body {
    background-color: #fff;
}

nav.menu {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

footer {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

nav.menu ol {
    list-style-type: none;
    padding-left: 0;
}

nav.menu ol li {
    display: inline-block;
    text-transform: uppercase;
}

ul.theme-list {
    list-style-type: none;
}

li {
    list-style-type: square;
}
